html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

.background-mobile {
  background-image: url('/logos/background.png');
  background-repeat: no-repeat;
  height: 100%;
   width: 100%;
   position: fixed;
   top: 80%;
   left: 80%;
   /* bring your own prefixes */
   transform: translate(-30%, -50%);
  z-index: 1; 
}

.center {
  position: absolute;
  top: 10%;
  left: 50%;
 
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}